*{
    box-sizing: border-box;
    margin: 9;
    padding: 0;
}

body { /*dando cor ao fundo da tela*/
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        90deg,
        rgba(0,250,154, 1) 0%,
        rgba(0,255,255, 1) 100% 
    );
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center; /*centralizando linhas e colunas e o x*/
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/*proibindo de clicar na casa ja marcada (Clique nao permitido)*/
.cell.x,
.cell.cicle{
    cursor: not-allowed;
}


/*tirando a borda do lado de fora do quadadroes*/
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}
/* mostando o X*/
.cell.x::before,
.cell.x::after {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background-color: black;
    position: absolute;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after{
    transform: rotate(-45deg)
}

/* mostando o cicle*/
.cell.cicle::before,
.cell.cicle::after {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background-color: black;
    position: absolute;
    border-radius: 50%;
}


/*mensagem do vencedor*/
.mensagem-vencedor {
    display: none;

}